{% extends "base.html" %}

{% block title %}Design sgRNA{% endblock %}

{% block page_content %}
<div class="page-header"><h1>Design sgRNA</h1></div>

<pre id="detail">
        <strong>Columns: </strong>
        entrez_id: The Entrez ID of the gene
        exon_id: The exon id, from 0 to n
        chrom: Chromosome number
        start: The start position of sgRNA
        end: The end position of sgRNA
        raw sequence: The sequence of sgRNA on the reference genome
        pam_type: The sequence of PAM
        cutting_site_type: The type of cutting site, either splicing site or coding region
        cutting_site: The position of cutting site
        sgrna_seq: The sequence of sgRNA
        sgrna_full_seq: The sequence of sgRNA with up- and down- stream sequences
</pre>

<a href=/design_sgrna/{{job_id}} download>
        <h3>Click here to download the results</h3>
</a>
{% endblock %}