{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Design sgRNA{% endblock %}

{% block page_content %}
<div class="page-header"><h3>Design sgRNA</h3></div>

<div class="well">
    <p>
        Please enter gene symbols/Refseq IDs/DNA sequence.
        One gene symbol/Refseq ID per line.
        For DNA sequence, we support one sequence per submit.
        <br>
        <br>
        The design algorithm will get all possible sgRNAs of input
        genes/transcripts/sequence.
        For each exon, the upstream and downstream sequence with
        length <strong>30</strong> are also included when design sgRNA.
        Then the sgRNAs will be classified as
        targeting <strong>UTR</strong>, <strong>coding region</strong> or
        <strong>intron region near splicing sites</strong>
        according to the position of sgRNAs' cutting site.
    </p>
</div>

<form method="post">
    {{ form.csrf_token }}
    <div class="row">
        <div class="form-group col-sm-8">
            {{ wtf.form_field(form.design_input) }}
        </div>
        <div class="form-group col-sm-4">
            {{ wtf.form_field(form.input_type) }}
        </div>
        <div class="form-group col-sm-4">
            {{ wtf.form_field(form.ref_genome) }}
        </div>
        <div class="form-group col-sm-4">
            {{ wtf.form_field(form.pams) }}
        </div>
        <div class="form-group col-sm-4">
            {{ wtf.form_field(form.submit) }}
        </div>
    </div>
</form>

{% endblock %}